.tableColumsBorder {
  border-right: 1px solid @tableColumsBorderColor;
  border-bottom: 1px solid @tableColumsBorderColor;
}
.tableContentBorder {
  border-left: 1px solid @tableColumsBorderColor;
  border-top: 1px solid @tableColumsBorderColor;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.table {
  padding: 0 15px;
  font-size: 12px;
  overflow: auto;
  content-visibility: auto;

  &.isMobile {
    .table-row {
      .col1 {
        flex: 0 0 83px;
        justify-content: center;
        text-align: center;
      }

      .col2 {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

.table__container {
  // overflow: auto;
  .flexCenter();
  border-right: 1px solid @tableColumsBorderColor;
  // min-width: 800px;
  // width: 100%;

  .table__header {
    font-size: 14px;
    font-weight: 500;
    background-color: #dcdcdc;
    width: 100%;
    cursor: pointer;
    .tableColumsBorder();
    border-top: 1px solid @tableColumsBorderColor;
    display: flex;
  }

  .table__content {
    width: 100%;
  }

  .table-row {
    display: flex;
    width: 100%;
    .col1 {
      flex: 0 0 100px;
      width: 100px;
      display: flex;
      align-items: center;
      // position: sticky;
      // left: 0;
      // top: 0;
      // background-color: #fff;
    }
    > div {
      border-left: 1px solid @tableColumsBorderColor;
      border-bottom: 1px solid @tableColumsBorderColor;
      padding: 5px;
      flex: 1;
      // font-size: 12px;
    }
  }
}


.ticai__item:hover {
  color: #000;
  background-color: yellow;
}
.dailyLimit__row {
  display: flex;

  &:hover {
    background-color: #ccc;
  }
}
.dailyLimit__content {
  min-width: 990px;
  overflow: auto;

  /deep/.stock,
  > span {
    display: inline-block;
  }
}
.biddingData__filter--row {
  min-width: 520px;
  overflow: auto;

  .el-checkbox {
    margin-right: 10px;
  }
}
.biddingData__row {
  min-width: 520px;
  > span {
    display: inline-block;
  }
}

.stocks_header {
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.thsTooltip__icon {
  margin: 0 5px;
}

.thsTooltip__content {
  max-width: 300px !important;
}

.dateTime__span {
  font-size: 12px;
  margin-right: 8px;
  color: #999;
}