.tableColumsBorder {
  border-right: 1px solid @tableColumsBorderColor;
  border-bottom: 1px solid @tableColumsBorderColor;
}
.tableContentBorder {
  border-left: 1px solid @tableColumsBorderColor;
  border-top: 1px solid @tableColumsBorderColor;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.table {
  margin: 0 15px 15px 10px;
  font-size: 12px;
  overflow: auto;
  border-top: 1px solid @tableColumsBorderColor;
  border-right: 1px solid @tableColumsBorderColor;
  // content-visibility: auto;

  &.isMobile {
    margin: 0;
    .table-row {
      .col1 {
        flex: 0 0 83px;
        justify-content: center;
        text-align: center;
      }

      .col2 {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  .table__header {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    > .col1,
    > .col2 {
      background-color: @tableColumsBorderColor;
    }
  }

  .table-row {
    display: flex;
    .col1 {
      flex: 0 0 120px;
      width: 120px;
      display: flex;
      align-items: center;
    }
    > div {
      border-left: 1px solid @tableColumsBorderColor;
      border-bottom: 1px solid @tableColumsBorderColor;
      padding: 5px;
      flex: 1;
    }
  }
}

.ticai__item:hover {
  color: #000;
  background-color: yellow;
}
.dailyLimit__row {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}
.dailyLimit__content {
  display: flex;
  align-items: center;
  min-width: 940px;
  overflow: auto;

  /deep/.stock,
  > span {
    display: inline-block;
  }
}
.biddingData__filter--row {
  min-width: 550px;
  overflow: auto;

  .el-checkbox {
    margin-right: 10px;
  }
}
.biddingData__row {
  min-width: 550px;
  > span {
    display: inline-block;
  }
}

.stocks_header {
  font-size: 14px !important;
  display: flex;
  align-items: center;

  .el-checkbox {
    margin-right: 10px;
  }
}

.thsTooltip__icon {
  margin: 0 5px;
}

.thsTooltip__content {
  max-width: 300px !important;
}

.dateTime__span {
  font-size: 12px;
  margin-right: 8px;
  color: #999;
}
