body * {
  box-sizing: border-box;
}

.gray {
  color: @gray;
}

.green {
  color: @green;
}
.red {
  color: @red;
}

.lvse {
  color: @green;
}
.lanse {
  color: @blue;
}
.zise {
  color: @purple;
}
.orange {
  color: @orange;
}