body * {
  box-sizing: border-box;
}

.gray {
  color: @gray;
}

.green {
  color: @green;
}
.red {
  color: @red;
}

.lvse {
  color: @green;
}
.lanse {
  color: @blue;
}
.zise {
  color: @purple;
}
.orange {
  color: @orange;
}

.bold {
  font-weight: 500;
}

.small {
  min-width: 36px;
}
.middle {
  min-width: 65px;
}
.content-middle {
  min-width: 80px;
}
.large {
  min-width: 100px;
}
.big-large {
  min-width: 120px;
}
.content-large {
  min-width: 250px;
}
.text-center {
  text-align: center;
}
.searchWord {
  color: #000;
  background-color: yellow;
}